html {
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}

header {
  background: rgba(64, 106, 157, 1);
  padding: 16px 32px;
  min-height: 10px;
}

header h1 {
  color: #ececec;
  margin-top: 20px;
}

header p {
  color: #e2e1e1;
  margin-top: 24px;
}

nav ul {
  padding: 0;
  margin: 0;
  background: #6c98b6c7;
  list-style: none;
  overflow: hidden;
}

nav li {
  float: left;
  font-size: 20px;
}

nav li a {
  display: block;
  padding: 10px 32px;
  text-decoration: none;
  color: #ececec;
}

nav li a:hover {
  color: #583d72;
}

nav li a:active {
  color: #ececec;
}








.main1 {
  background-color: rgba(0, 0, 255, 0);
  height: 800px;
  width: 800px;
  position: absolute;
  z-index: 1;
}

.EQN {
  background-color: rgba(0, 0, 255, 0);
  color: black;
  position: absolute;
  font-size: 16px;
  top: 623px;
  left: 150px;
  z-index: -1;
}


.col2-container {
display: grid;
padding: 0px;
grid-template-columns:  400px, 300px;
}
.blurbASDF {
  margin: 40px;
  padding: 30px;
  background-color: rgba(64, 106, 157, 0.1);
  font-size: 16px;
  z-index: 1;
}
.blurb2ASDF {
  margin: 40px;
  padding: 20px;
  height: auto;
  background-color: rgba(64, 106, 157, 0.1);
  font-size: 16px;
}






.col2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}


.img1 {
  flex: 0 1 auto;
  padding: 0px;
  position: relative;
  width: 900px;
  height: 900px;
}


.blurb1 {
  flex: 0 1 auto;
    margin: 40px;
    padding: 40px;
    width: 300px;
    background-color: rgba(64, 106, 157, 0.1);
    font-size: 16px;
  }

@media all and (max-width:1500px) {
  .col2 {justify-content: center}
  .blurb1 {width:900px; height: auto}
  .img1 {width:900px; height: 900px}
}


.CANVAS {
  background-color: rgb(0, 0, 255, 0);
  z-index: 1;
  top: 0;
  left: 0;
  width: 900px;
  height: 900px;
}

.eqn1 {
  background-color: rgba(0, 0, 255, 0);
  color: black;
  position: absolute;
  font-size: 16px;
  top: 0px;
  left: 0px;
  z-index: -1;
}
